@import "tailwindcss";

@layer base {
    * {
        font-family: "Montserrat", Arial, sans-serif;
    }
}

@layer components {
    input {
        @apply border border-gray-200 rounded-md outline-none transition focus:border-gray-400;
    }
}
html, body, #root {
    height: 100%;
}

.shadow-soft {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.react-multi-carousel-list {
    z-index: 0;
}
.react-multi-carousel-track {
    z-index: 0;
}

.react-multi-carousel-item {
    z-index: 0;
}

button.react-multiple-carousel__arrow {
    z-index: 0;
}
.carousel-container .react-multiple-carousel__arrow--left {
    left: 0px !important;
}

.carousel-container .react-multiple-carousel__arrow--right {
    right: 0px !important;
}

/* rid of selection with tap on mobile*/
* { -webkit-tap-highlight-color: transparent;  }

.no-scroll {
    overflow: hidden;
}


::-webkit-scrollbar{
    @apply ml-1 w-1 md:w-2 h-1;
}

/*Track*/
::-webkit-scrollbar-track {
    @apply ml-1 bg-transparent;
}

/*Handle*/
::-webkit-scrollbar-thumb {
    @apply ml-1 bg-[#823D9A] h-[40%];
}

