@import "tailwindcss";

@layer base {
    * {
        font-family: "Montserrat", Arial, sans-serif;
    }
}
.react-multi-carousel-list {
    z-index: 0;
}
.react-multi-carousel-track {
    z-index: 0;
}

.react-multi-carousel-item {
    z-index: 0;
}

button.react-multiple-carousel__arrow {
    z-index: 0;
}
.carousel-container .react-multiple-carousel__arrow--left {
    left: 0px !important;
}

.carousel-container .react-multiple-carousel__arrow--right {
    right: 0px !important;
}